@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int x = 0;

}
@model Products
<link href="~/css/Cateloguestyles.css" rel="stylesheet" />
<h3>Products</h3>
<br />

<form asp-action="Add" asp-controller="Product">



    <div class="form-group">
        <label for="exampleInputEmail1"><b>Name</b></label>
        <input type="text" class="form-control w-25 border-info " asp-for="Name" aria-describedby="emailHelp" placeholder="Name" required>
    </div>
    <br />

   
    <br />


    <button type="submit" class="btn btn-primary w-25">Add</button>
</form>
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type Name</th>
            <th scope="col"></th>
          

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in ViewBag.productlist)
        {
            x++;
            <tr>
                <th scope="row">@x</th>
                <td>@obj.Name</td>
                <td><a class="btn btn-danger" asp-controller="product" asp-action="Delete" asp-route-id="@obj.id">Delete</a></td>

            </tr>
        }

    </tbody>
</table>

